body{
    background-image: url(Images/Background-patternV2.gif);
    background-size: 300px;
}
header{
    background-image: url(Images/WelcomeBanner.gif);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border: white solid 7px;
    border-radius: 60%;
    height: 13%;
    box-shadow: 10px 5px 20px rgb(0, 255, 229),-10px -5px 20px  rgb(255, 0, 230);
    
}
div{
    border-top:20px rgba(255, 255, 255, 0) solid;
    border-bottom:20px rgba(255, 255, 255, 0) solid;    
    margin: auto;
    width: 80%;
}
nav{
    box-shadow: 0px 0px 40px rgb(0, 255, 149);
    padding: 20px; 
    border: solid white 6px;
    border-radius: 60px;
    background: radial-gradient(ellipse at center,  #ee8fff 40%,#df43ff 82%,#cd00ff 100%);
    width: 12%;
    height: 65%;
    float: left;
    margin-right: 5px;
}
main{
    box-shadow: 0px 0px 50px rgb(255, 0, 230);
    padding: 20px;    
    border: solid white 6px;
    border-radius: 60px;
    background: radial-gradient(ellipse at center,  #92ffbe 50%,#48ff92 76%,#00ff67 100%);
    width: 74%;
    height: 65%;
    float:right ;
    overflow: auto;
}
a:link{
    background-color: #00ff67;
    padding: 10px;
}
h1 {
    font-family: cursive;
  color: white;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
h2 {
    font-family: cursive;
  color: white;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
h3 {
    font-family: cursive;
  color: white;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
h4 {
    font-family: cursive;
  color: white;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
p{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;    
}