body{
    background-image: url(Images/Background-patternV2.gif);
    background-size: 300px;
}
header{
    background-image: url(Images/WelcomeBanner.gif);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border: white solid 7px;
    border-radius: 60%;
    height: 13%;
    box-shadow: 10px 5px 20px rgb(0, 255, 229),-10px -5px 20px  rgb(255, 0, 230);
    
}
div#head{
    border-top:20px rgba(255, 255, 255, 0) solid;
    border-bottom:20px rgba(255, 255, 255, 0) solid;    
    margin: auto;
    width: 70%;
}
div{
    border-top:20px rgba(255, 255, 255, 0) solid;
    border-bottom:20px rgba(255, 255, 255, 0) solid;    
    margin: auto;
    width: 60%;
}

nav{
    box-shadow: 0px 0px 40px rgb(16, 148, 255);
    padding: 20px; 
    border: solid white 6px;
    border-radius: 60px;
    background: radial-gradient(ellipse at center,  #ff8fd4 40%,#ff61e5 60%,#ff47ff 100%);
    width: 10%;
    height: 65%;
    float: left;
}
main{
    box-shadow: 0px 0px 50px rgb(255, 0, 230);
    padding: 20px;    
    border: solid white 6px;
    border-radius: 60px;
    background: radial-gradient(ellipse at center,  #92efff 50%,#44d3ff 76%,#00aeff 100%);
    width: 75%;
    height: 65%;
    float:right ;
    overflow: auto;
}

a{
    background: radial-gradient(ellipse at center,  #20e220 41%,#16a016 92%);
    border: 5px dotted white;
    border-radius: 100px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 80px;
}

a:hover{
    background: linear-gradient(to bottom,  #ff0000 7%,#ff9932 22%,#fff832 39%,#32ff4a 56%,#32d6ff 71%,#ae00ff 90%);
    border: whtie dotted 5px;
}
h1 {
    font-family: cursive;
  color: white;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
h2 {
    font-family: cursive;
  color: white;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
h3 {
    font-family: cursive;
  color: white;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
h4 {
    font-family: cursive;
  color: white;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
p{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;    
}