body{
    background-image: url(Images/Background-pattern.gif);
    background-size: 300px;
}
header{
    background-image: url(Images/WelcomeBanner.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    margin-left: auto ;
    margin-bottom: 20px;
    border-radius: 60%;
}
div{
    margin: auto;
    width: 70%;
}
nav{
    border-radius: 60px;
    background: radial-gradient(ellipse at center,  #ee8fff 40%,#df43ff 82%,#cd00ff 100%);
    width: 15%;
    height: 70%;
    float: left;
    margin-right: 10px;
}
main{
        border-radius: 60px;

    background: radial-gradient(ellipse at center,  #92ffbe 50%,#48ff92 76%,#00ff67 100%);
    width: 80%;
    height: 70%;
    float:right ;
}